{% extends "tool/base_tool.html" %}
{% load static %}

{% block head_title %}Docker Mirror Version Query Tool{% endblock %}
{% block metas %}
    <meta name="description" content="Docker image version query tool, call the registry.hub.docker.com official interface, quickly query the specified image version information, convenient for developers to choose the image.">
    <meta name="keywords" content="Docker image query, image search, development tools, image warehouse, docker Hub, online tools">
{% endblock %}

{% block tool_name %}Docker Image Query Tool{% endblock %}
{% block left_content %}
<div class="card-body p-0">
    <h3 class="card-title pl-2 title-info">Tools' Info</h3>
    <ul>
        <li>This tool calls the docker image warehouse official interface to query the version information of the specified image in the official image warehouse</li>
        <li>Solve the pain points: often need to mirror from the official warehouse pull image developers know that mirror case, version change everyday, unfamiliar with the mirror, how to accurately select the correct image version has become a problem, and this tool can be real-time query official mirror version information in the warehouse, convenient developers choose mirror</li>
        <li>Use notice: the mirror in the official mirror warehouse is also divided into the mirror maintained by the official and the mirror maintained by the third party. When the third party is the maintainer of the software itself, the mirror maintained by the third party is a better choice</li>
        <li>Since the official mirror warehouse is an external network, there may be a timeout in the query. If the timeout occurs, please try again. The tool will cache the query results of common images for 24 hours</li>
    </ul>
</div>
<div class="mb-3">
    <div class="form-group">
        <label>Name of image:</label>
        <input type="url" class="form-control rounded-0" id="image-name"
               placeholder="Example：nginx or jenkins/jenkins"
               required>
        <small class="form-text text-muted">Note: nginx is the official maintenance mirror; Jenkins/Jenkins is the mirror image maintained by Jenkins, which is better than the official maintenance.</small>
    </div>
    <button type="submit" class="btn btn-info btn-sm rounded-0" id="start-push">Search</button>
</div>
<div class="card mb-0 rounded-0">
    <div class="card-header text-center text-info font-weight-bold py-2">Results</div>
    <div class="card-body table-responsive push-result text-center p-2"><div class="py-2">Display Area</div></div>
</div>
{% endblock %}

{% block end_f %}
<script>
$('#start-push').click(function() {
	docker_search("{{ csrf_token }}", "{% url 'tool:docker_search' %}");
})

</script>
{% endblock %}
