{% extends "tool/base_tool.html" %}
{% load static %}

{% block head_title %}Regular Expression Online Testing{% endblock %}
{% block metas %}
<meta name="description" content="Regular Expression online testing tool, online use of Regular Expression, Python Regular Expression usage, provides common Regular Expression rules.">
<meta name="keywords" content="Regular Expression, Python Regular Expression, Regular Expression, online tools">
{% endblock %}

{% block tool_name %}Online Regular Expression{% endblock %}
{% block left_content %}
<div class="card-body p-0">
    <h3 class="card-title pl-2 title-info">Tools' Info</h3>
    <ul>
        <li>Information can be extracted by filling in the form according to the general rules of regular expressions.</li>
        <li>This tool USES Python's regular expression library to support Python regular expression syntax.</li>
    </ul>
</div>
<div class="mb-3">
    <div class="form-group">
        <label>Information To Be Matched:</label>
        <textarea class="form-control rounded-0" id="form-text" rows="8" required></textarea>
    </div>
    <div class="form-group">
        <label>Regular expressions:</label>
        <input type="url" class="form-control rounded-0" id="form-regex" placeholder="Example: [a-zA-z]+://[\S]*" required>
    </div>
    <button type="submit" class="btn btn-info btn-sm rounded-0" id="start-re">Begin To Match</button>
</div>
<div class="card mb-3 rounded-0">
    <div class="card-header text-center text-info font-weight-bold py-2">Matching Results</div>
    <div class="card-body table-responsive push-result text-center p-3">Display Area</div>
</div>
{% endblock %}

{% block end_f %}
<script>
$('#start-re').click(function() {
	regex_api("{{ csrf_token }}", "{% url 'tool:regex' %}");
})

</script>
{% endblock %}
