{% extends "blog/base.html" %}
{% load static %}
{% load humanize %}
{% load blog_tags %}

{% block head_title %}Online tools to improve productivity{% endblock %}
{% block metas %}
<meta name="description" content="Online tools, webmaster tools including baidu active push tools, friend chain detection, regular expression tools, etc., convenient for batch operation, improve work efficiency, tools continue to increase.">
<meta name="keywords" content="Online tools,SEO tools, webmaster tools, crawler tools">
{% endblock %}


{% block top-file %}
<link href="{% static 'tool/css/tool.css' %}?v=20180107.08" rel="stylesheet">
{% endblock %}

{% block base_content %}
<div class="container">
    <div class="row tool-list">
        <div class="col-md-6 col-lg-4 col-xl-3 px-lg-2 mb-3">
            <div class="card">
                <div class="card-header p-2 tool-header">
                    <a href="{% url 'tool:markdown_editor' %}" target="_blank">
                        <img class="w-25 float-left mr-2" src="{% static 'editor/images/logos/editormd-logo-96x96.png' %}"
                             alt="Markdown Editor">
                        <h2 class="card-title">Markdown Editor</h2>
                    </a>
                    <p class="mb-0">[Office Tools]</p>
                </div>
                <div class="card-body p-3 tool-des">
                    <p class="card-text">Based on the open source project editor.md, the online markdown Editor has powerful editing capabilities and comprehensive syntax support.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 px-lg-2 mb-3">
            <div class="card">
                <div class="card-header p-2 tool-header">
                    <a href="{% url 'tool:regex' %}" target="_blank">
                        <img class="w-25 float-left mr-2" src="{% static 'blog/img/regex.png' %}"
                             alt="Online Regular Expression">
                        <h2 class="card-title">Online Regular Expression</h2>
                    </a>
                    <p class="mb-0">[Development Tools]</p>
                </div>
                <div class="card-body p-3 tool-des">
                    <p class="card-text">Regular expression online tool, using regular expression rules to extract information, all language rules in general.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 px-lg-2 mb-3">
            <div class="card">
                <div class="card-header p-2 tool-header">
                    <a href="{% url 'tool:docker_search' %}" target="_blank">
                        <img class="w-25 float-left mr-2" src="{% static 'blog/img/docker.png' %}"
                             alt="Docker Image Query">
                        <h2 class="card-title">Docker Image Query</h2>
                    </a>
                    <p class="mb-0">[Development Tools]</p>
                </div>
                <div class="card-body p-3 tool-des">
                    <p class="card-text">Query the version information of the specified image in the official mirror repository to help developers more accurately select the right image.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 px-lg-2 mb-3">
            <div class="card">
                <div class="card-header p-2 tool-header">
                    <a href="{% url 'tool:useragent' %}" target="_blank">
                        <img class="w-25 float-left mr-2" src="{% static 'blog/img/chrome.png' %}"
                             alt="User-Agent Generator">
                        <h2 class="card-title">User-Agent Generator</h2>
                    </a>
                    <p class="mb-0">[Crawler Tool]</p>
                </div>
                <div class="card-body p-3 tool-des">
                    <p class="card-text">Web header online generator, which automatically generates header user-agents for various platforms and browsers.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 px-lg-2 mb-3">
            <div class="card">
                <div class="card-header p-2 tool-header">
                    <a href="{% url 'tool:html_characters' %}" target="_blank">
                        <img class="w-25 float-left mr-2" src="{% static 'blog/img/html.png' %}"
                             alt="HTML Special Character">
                        <h2 class="card-title">HTML Special Character</h2>
                    </a>
                    <p class="mb-0">[Development Tools]</p>
                </div>
                <div class="card-body p-3 tool-des">
                    <p class="card-text">HTML common character query table, HTML special character cross - reference table.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}