{% extends 'blog/base.html' %}
{% load blog_tags oauth_tags comment_tags %}
{% load humanize %}
{% load highlight %}

{% block head_title %}Search For: {{ query }}{% endblock %}
{% block metas %}
<meta name="description" content="Article search: {{ query }} , website full-text search function, according to the title and content of the article index, the whole site search, django-haystack full-text search library use.">
<meta name="keywords" content="{{ query }},Full-text search,django-haystack">
{% endblock %}

{% block base_content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="description bg-white px-3 pt-3 pb-1 mb-1 mb-sm-2 mb-md-3">
                <p class="float-right mb-0">There are <span class="mx-2 text-info">{{ paginator.count }}</span> articles</p>
                <h1 class="f-17"><strong>Current search: {{ query }}</strong></h1>
                <p class="f-16">The full-text search function of the website, will be the whole site of the article title and content for word storage, and then to each word to establish an index, search function returns is the whole site of the article title or content containing keywords in the article.</p>
            </div>
            {% if query %}
            <div class="summary-list">
                {% for article in search_list %}
                <div class="media mb-1 mb-sm-2 p-2 p-lg-3">
                    <div class="align-self-center mr-2 mr-lg-3 w-25 modal-open">
                        <a href="{{ article.object.get_absolute_url }}" target="_blank">
                            <img class="w-100 article-img" src="{{ article.object.img_link }}"
                                 alt="{{ article.object.title }}">
                        </a>
                    </div>
                    <div class="media-body">
                        <div class="text-muted mb-2 f-12">
                            {% get_user_avatar_tag article.object.author %}
                            <span>{{ article.object.author }}</span>
                            <span><i class="fa fa-calendar-times-o ml-2 mr-1"></i>
                                    {{ article.object.create_date|naturaltime}}</span>
                        </div>
                        <h2 class="mt-0 font-weight-bold text-info f-17">
                            <a href="{{ article.object.get_absolute_url }}" target="_blank">
                                {% my_highlight article.object.title query %}</a>
                        </h2>
                        {% with article.object.body_to_markdown|safe as this_body %}
                        <p class="d-none d-sm-block mb-2 f-15">{% highlight this_body with query max_length 130 %}</p>
                        <p class="d-block d-sm-none mb-2 f-15">{% highlight this_body with query max_length 64 %}</p>
                        {% endwith %}
                        <div class="text-muted mb-0 f-12">
                            <a class="cate" href="{{ article.object.category.get_absolute_url }}" title="See the current category for more articles.">
                                <i class="fa fa-book mr-1"></i>{{ article.object.category }}</a>
                            <span><i class="fa fa-eye ml-2 mr-1"></i>{{ article.object.views }}</span>
                            <a href="{{ article.object.get_absolute_url }}#comment-block" target="_blank"
                               title="View article comments">
                                <i class="fa fa-comments ml-2 mr-1"></i>{% get_comment_count article.object %}</a>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="p-3 mt-3 bg-white"><p>There is no article yet!</p></div>
                {% endfor %}
            </div>
            {% endif %}
            {% if is_paginated %}
            <div class="text-center mt-2 mt-sm-1 mt-md-0 mb-3 f-16">
                {% if page_obj.has_previous %}
                <a class="text-success" href="?q={{ query }}&amp;page={{ page_obj.previous_page_number }}">Previous</a>
                {% else %}
                <span class="text-secondary" title="The current page is already the first page">Previous</span>
                {% endif %}
                <span class="mx-2">Page &nbsp;{{ page_obj.number }}&nbsp;/&nbsp;{{ paginator.num_pages }}&nbsp;</span>
                {% if page_obj.has_next %}
                <a class="text-success" href="?q={{ query }}&amp;page={{ page_obj.next_page_number }}">Next</a>
                {% else %}
                <span class="text-secondary" title="The current page is already the last page">Next</span>
                {% endif %}
            </div>
            {% endif %}
        </div>
        <div class="col-lg-4">
            {% include 'blog/tags/base_right.html' %}
        </div>
    </div>
</div>
{% endblock %}