{% extends 'blog/base.html' %}
{% load static %}

{% block head_title %}About website and author{% endblock %}
{% block metas %}
<meta name="description"
      content="This website is a technical blog built by django+bootstrap4. In the spirit of learning and sharing, the blog project is open source. The source code can be viewed on my Github.">
<meta name="keywords" content="Website About page, About the website, About the author, About the webmaster">
{% endblock %}


{% block base_content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8" style="line-height:2">
            <div class="card rounded-0 border-0 p-3 f-16">{{ body|safe }}</div>
        </div>
        <div class="col-lg-4">
            {% include 'blog/tags/base_right.html' %}
        </div>
    </div>
</div>
{% endblock %}