{% load comment_tags oauth_tags %}
{% load humanize %}

<div class="card-body p-2 p-md-3 f-17" id="comment-list">
    <ul class="list-unstyled">
        <div class="mb-3">
            <strong>{% get_comment_user_count article %}&nbsp;Participants&nbsp;|&nbsp;{% get_comment_count article %}&nbsp;Comments&nbsp;</strong>
        </div>
        {% for comment in comment_list %}
        <div class="comment-parent pt-2" id="com-{{ comment.id }}">
            <li class="media">
                {% get_user_avatar_tag comment.author %}
                <div class="media-body ml-2">
                    <a class="float-right small mr-2 rep-btn" href="#editor-block"
                       data-repid="{{ comment.id }}" data-repuser="{{ comment.author.username }}">Reply</a>
                    <p class="mt-0 mb-1">
                        {% get_user_link comment.author as user_link_info %}
                        {% if user_link_info.is_verified and user_link_info.link %}
                        <strong >
                            <a href="{{ user_link_info.link }}"
                               title="Visit the personal website of {{ comment.author }}"
                               target="_blank">{{ comment.author }}
                            </a>
                        </strong>
                        {% else %}
                        <strong title="The user is not authenticated or has no personal site">{{ comment.author }}</strong>
                        {% endif %}
                        {% if user_link_info.is_verified %}
                            {% if user_link_info.provider == 'GitHub' %}
                            <i class="fa fa-github" title="Github binds users"></i>
                            {% elif user_link_info.provider == 'Weibo' %}
                            <i class="fa fa-weibo" title="Weibo binds users"></i>
                            {% else %}
                            <i class="fa fa-envelope-o" title="Email authenticated user"></i>
                            {% endif %}
                        {% endif %}
                        {% if comment.author.is_superuser %}
                        <small class="text-danger">[Author]</small>
                        {% endif %}
                    </p>
                    <p class="small text-muted">The {{ forloop.revcounter }}&nbsp;Floor&nbsp;-&nbsp;{{ comment.create_date|naturaltime }}</p>
                </div>
            </li>
            <div class="comment-body">{{ comment.content_to_markdown|safe }}</div>
        </div>
        {% get_child_comments comment as child_comments %}
        {% if child_comments %}
        <ul class="list-unstyled ml-4">
            {% for each in child_comments %}
            <div class="comment-child pt-2" id="com-{{ each.id }}">
                <li class="media">
                    {% get_user_avatar_tag each.author %}
                    <div class="media-body ml-2">
                        <a class="float-right small mr-2 rep-btn" href="#editor-block"
                           data-repid="{{ each.id }}" data-repuser="{{ each.author.username }}">Reply</a>
                        <p class="mt-0 mb-1">
                            {% get_user_link each.author as each_user_link_info %}
                            {% if each_user_link_info.is_verified and each_user_link_info.link %}
                            <strong >
                                <a href="{{ each_user_link_info.link }}"
                                   title="Visit the personal website of {{ each.author }}"
                                   target="_blank">{{ each.author }}
                                </a>
                            </strong>
                            {% else %}
                            <strong title="The user is not authenticated or has no personal site">{{ each.author }}</strong>
                            {% endif %}
                            {% if each_user_link_info.is_verified %}
                                {% if each_user_link_info.provider == 'GitHub' %}
                                <i class="fa fa-github" title="Github binds users"></i>
                                {% elif each_user_link_info.provider == 'Weibo' %}
                                <i class="fa fa-weibo" title="Weibo binds users"></i>
                                {% else %}
                                <i class="fa fa-envelope-o" title="Email authenticated user"></i>
                                {% endif %}
                            {% endif %}
                            {% if each.author.is_superuser %}
                            <small class="text-danger">[Author]</small>
                            {% endif %}
                            <i class="fa fa-share"></i>
                            @{{ each.rep_to.author.username }}
                        </p>
                        <p class="small text-muted">{{ each.create_date|naturaltime }}</p>
                    </div>
                </li>
                <div class="comment-body">{{ each.content_to_markdown|safe }}</div>
            </div>
            {% endfor %}
        </ul>
        {% endif %}
        {% empty %}
        No comment at the moment, welcome to chat!
        {% endfor %}
    </ul>
</div>