{% extends "blog/base.html" %}
{% load static %}

{% block head_title %}404{% endblock %}
{% block metas %}
<meta name="description" content="404,The page does not exist, the page is lost, the request fails">
<meta name="keywords" content="404 page">
{% endblock %}

{% block base_content %}
<div class="container">
    <div class="row errorpage">
        <div class="col align-self-center error-img text-center">
            <div class="errorimg">
                <img class="img-fluid" src="{% static 'blog/img/404.png'%}">
            </div>
            <div class="errormsg">
                <h3>Wow! You seem to have visited a different dimension...</h3>
                <a href="javascript:history.go(-1);">Return to earth</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}