{% load cache %}
{% load blog_tags static %}

<!--个人空间-->
<div class="card border-0 rounded-0 px-3 mb-2 mb-md-3 d-none d-lg-block" id="home-card">
    <div class="card-header bg-white px-0">
        <strong><i class="fa fa-paper-plane mr-2 f-17"></i>Author's Info</strong>
        <img class="float-right" id="theme-img"
             src="{% if request.COOKIES.toggleTheme == 'dark' %}{% static 'blog/img/toggle-dark.png' %}{% else %}{% static 'blog/img/toggle-light.png' %}{% endif %}"
             alt="theme-toggle" title="The dark theme">
    </div>
    <div class="card-body px-0 pt-3 pb-1">
        <div class="row text-center">
            <div class="col">
                <a href="https://github.com/Thchoonlophon" target="_blank" title="Visit the author's Github">
                    <img style="max-width:40px" alt="The author's GitHub" src="{% static 'blog/img/github.png' %}">
                    <p class="mt-2">GitHub</p>
                </a>
            </div>
            <div class="col">
                <a href="{% url 'blog:timeline'%}" target="_blank" title="View the process of website building">
                    <img style="max-width:40px" alt="The process of website building" src="{% static 'blog/img/blog.png' %}">
                    <p class="mt-2">Timeline</p>
                </a>
            </div>
            <div class="col">
                <a href="https://weibo.com/234114309" target="_blank" title="Weibo">
                    <img style="max-width:40px" alt="Weibo" src="{% static 'blog/img/weibo.png' %}">
                    <p class="mt-2">Weibo</p>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="card border-0 rounded-0 px-3 mb-2 mb-md-3 d-none d-lg-block" id="home-card">
	<div class="card-header bg-white px-0">
		<strong><i class="fa fa-bullhorn mr-2 f-17"></i>Announcement</strong>
	</div>
	<div class="card-body px-0 py-3">
		<p class="mt-2">
			This site has not done IE compatibility test, may not be compatible with all Internet explorer kernel browsers, and affect the actual use of each function experience, so it is preferred to recommend the use of Chrome browser.
		</p>
		<p class="mt-2">
			The station is mainly used to record the master learning process and the problems encountered in the process of work and learning, is an independent website, do not support the autumn city night account login temporarily.
		</p>

	</div>
</div>
<!--文章分类-->
<div class="card border-0 rounded-0 px-3 mb-2 mb-md-3" id="category-card">
    <div class="card-header bg-white px-0">
        <strong><i class="fa fa-book mr-2 f-17"></i>Category</strong>
    </div>
    {% get_category_list as categories %}
    <ul class="list-group list-group-flush f-16">
        {% for each in categories %}
        <li class="list-group-item d-flex justify-content-between align-items-center pr-2 py-2">
            <a class="category-item" href="{{ each.get_absolute_url }}"
               title="View all the articles under category【{{ each.name }}】">{{ each.name }}</a>
            <span class="badge text-center" title="There are {{ each.total_num }} articles under the current category">{{ each.total_num }}</span>
        </li>
        {% endfor %}
    </ul>
</div>
<!--标签云-->
<div class="card border-0 rounded-0 px-3 mb-2 mb-md-3" id="tag-card">
    <div class="card-header bg-white px-0">
        <strong><i class="fa fa-tags mr-2 f-17"></i>Tag Cloud</strong>
    </div>
    <div class="card-body px-0 py-3">
        <div class="tag-cloud">
            {% get_tag_list as tag_list %}
            {% for tag in tag_list %}
            <a href="{{ tag.get_absolute_url }}" class="tags f-16" id="tag-{{ forloop.counter }}"
               title="There are {{ tag.total_num }} articles under the tag【{{ tag.name }}】">{{ tag.name }}</a>
            {% endfor %}
        </div>
    </div>
</div>
<!--友链-->
<div class="d-none d-lg-block">
    <div class="card border-0 rounded-0 px-3 mb-2 mb-md-3" id="friends-card">
        <div class="card-header bg-white px-0">
            <strong><i class="fa fa-link mr-2 f-17"></i>Blogroll</strong>
        </div>
        <div class="card-body px-0 py-3">
            <div class="tool-list">
                {% get_friends as friends %}
                {% for friend in friends %}
                <div class="w-50 float-left text-center mb-2">
                    <div class="mx-2">
                        <a href="{{ friend.link }}" title="{{ friend.description }}" target="_blank">
                            {{ friend.name }}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- 微信 -->
<div class="card border-0 rounded-0 px-3 mb-2 mb-md-3" id="tag-card">
    <div class="card-header bg-white px-0">
		<strong><i class="fa fa-weixin mr-2 f-17"></i>Author's WeChat</strong>
	</div>
	<div class="card-body px-0 py-3">
		<img style="max-width:200px; text-align:center" src="{% static 'blog/img/WeChat.jpg' %}">
	</div>
</div>
