{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% load blog_tags oauth_tags %}
{% load static %}

{% block metas %}
    <meta name="description" content="User account management, use django-allauth social user system, support microblogging, Github and other social accounts to log in, join {{ site_end_title }}, see more information.">
    <meta name="keywords" content="django-allauth,Social user system,OAuth 2.0">
{% endblock %}

{% block top-file %}
<link href="{% static 'blog/css/account.css' %}?v=20171229.01966" rel="stylesheet">
{% endblock %}

{% block head_title%}Profiles{% endblock%}

{% block base_content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3 px-xl-5">
            <div class="card rounded-0 px-3 px-lg-4">
                <div class="card-header text-center bg-white py-2"><h3 class="my-1 text-info">Profiles</h3></div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item text-center border-0" id="profile-avatar">
                            {% get_user_avatar_tag user %}
                        </li>
                        <li class="list-group-item ml-5 border-0">
                            <span class="font-weight-bold">Username: </span>
                            <span>{{ user.username }}</span>
                        </li>
                        {% for emailaddress in user.emailaddress_set.all %}
                        {% if emailaddress.primary or user.emailaddress_set.count == 1 %}
                        <li class="list-group-item ml-5 border-0" title="Tip: users with authenticated mailboxes have more privileges!">
                            <span class="font-weight-bold">Email: </span>
                            <span>{{ emailaddress.email }}</span>
                            {% if emailaddress.verified %}Authenticated{% else %}No Validation{% endif %}
                        </li>
                        {% endif %}
                        {% endfor %}
                        <li class="list-group-item ml-5 border-0">
                            <span class="font-weight-bold">Site:</span>
                            <span>{{ user.link }}</span>
                        </li>
                    </ul>
                </div>
                <div class="text-center mb-5" id="social-login">
                    <div class="login-title"><span>More</span></div>
                    <div class="more-link mt-3">
                        <a class="btn btn-info btn-sm rounded-0 mx-lg-3 mx-sm-2" href="{% url 'oauth:change_profile' %}">Modify Info</a>
                        <a class="btn btn-info btn-sm rounded-0 mx-lg-3 mx-sm-2" href="{% url 'account_change_password' %}">Modify Password</a>
                        <a class="btn btn-info btn-sm rounded-0 mx-lg-3 mx-sm-2" href="{% url 'account_email' %}">Verify</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


